.navbar {
    width: 100%;
    background-color: cornflowerblue;
    height: 100px;
    /* FLex */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}

.navbar>* {
    margin-right: 30px;
}